.winner {
    color: green;
}

.loser {
    color: red;
}

#p1Up {
    border-radius: 0 0 0 15px;
    &:hover {
        background-color: blue;
        border-radius: 0 0 0 15px;
    }
    &:hover:disabled {
        background-color: rgb(99,99,99);
    }
}

#p2Up:hover {
    background-color: green;
    &:hover:disabled {
        background-color: rgb(99,99,99);
    }
}

#reset {
    border-radius: 0 0 15px 0;
    &:hover {
        background-color: red;
        border-radius: 0 0 15px 0;
    }
}

.box {
    border-radius: 0;
}